
/* baseline */

html {
    /* base for root-relative font size */
    font-size: 14px;
}

body {
    padding: 1em;
    line-height: 1.6;
    font-weight: 400;
    letter-spacing: .017em;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    color: #777;
    background-color: #f9f9f9;
}

h1 {
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    position: relative;
    margin-top: 1em;
    font-weight: 200;
    color: dodgerblue;
}

a {
    color: dodgerblue;
}

label {
    display: block;
    margin: 1em 0;
}
label span {
    float: left;
    line-height: 2.5;
    font-size: 1.25rem;
    font-weight: 300;
}
label button {
    float: right;
}

textarea,
button {
    border: 1px solid;
    outline: 0 none;
    font-size: 1rem;
    color: #777;
}

textarea {
    box-sizing: border-box;
    width: 100%;
    padding: 1em;
    border-color: #e2e2e2;
    font-family: consolas, "courier new", monospace;
    resize: vertical;
}
textarea:read-only {
    background-color: transparent;
}
textarea::-webkit-input-placeholder {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-weight: 300;
    color: #aaa;
}
textarea::-moz-placeholder {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-weight: 300;
    color: #aaa;
}

button {
    margin: .5em auto;
    padding: .5em 1em;
    border-color: transparent;
    font-weight: 300;
    background-color: #e6e6e6;
    cursor: pointer;
}
button:hover {
    color: dodgerblue;
    background-color: #eaeaea;
}


/* custom */

#jsonInput {
    height: 300px;
}

#metadataInput {
    height: 100px;
}

#sendBtn {
    width: 100%;
    margin: 2em 0;
    padding: 1em;
}
